<!DOCTYPE html>
<html>
   
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resturantdekho</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"  tyep="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <!--<link rel="stylesheet"  tyep="text/css" href="/stylesheets/app.css">-->
     </head>
    <body>
          
       <nav class="navbar navbar-default"style="background-color:#c7305d;">
           <div class="container-fluid">
             <div class="navbar-header">
                 <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-bold">logApp</span></a>
              </div>
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/blogs">Home</a></li>
                  <li><a href="/blogs/new">Post Here</a></li>
                </ul>
                
              <ul class="nav navbar-nav navbar-right">
                   <li><a href="#"><span class= "glyphicon glyphicon-user"></span> SignUp</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
        </nav>
        
        
        